@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #0a0809, #51595c);
  color: rgb(156, 146, 146);
}

.container{
  width: 1280px;
  margin: auto;
}

#header{
  
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
}

#header h2{font-size: 4rem;}

.user_input{
  margin-top: 2px;
  width: 380px;
  text-align: left;
}

.user_input input{
  width: 80%;
  outline: none;
  padding: 8px;
  border: 1px solid rgb(252, 248, 248);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user_input input:focus{
  box-shadow: 0 0 5px #aa999f;
  border: 2px solid #ac9ca1;
}

.user_input button{
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  color: black;
  transition: 1s;
  outline: none;
  background-color: rgb(238, 79, 79);
  border: 1px solid rgb(221, 102, 102);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.user-input button:hover{
  background-color: transparent;
  color: rgb(12, 12, 12);
}

#to_do_list{
  width: 500px;
  margin: auto;
}

.item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 2px;
  padding: 1rem;
  color:rgb(238, 11, 11);
  margin-top:10px;
  font-size: 2rem;
  background-color: rgb(252, 246, 246);
  border: 1px solid rgb(233, 213, 213);
 
}

.item:hover{
  box-shadow: 0 0 20px #f1e8eb;
  border: 1px solid #eee4e7;
}

.item i{
  cursor: pointer;
  margin: 0 5px;
}

@media(max-width:1280px){
  .container{width: 100%;}
}

@media(max-width:768px){
  .container{width: 95%;}
  
  #header{
    padding: 20px;
    gap: 10px;
    align-items: center;
    flex-direction: column;
  }

  #header h2{margin: 10px 0;}

  .user_input{width: 100%;}

  #to_do_list{width: 100%;}
}

@media(max-width:480px){
  .user_input input{width: 70%;}
}

@media(max-width:320px){
  .user_input input{width: 60%;}
}